---
import "../style.scss";
import Hitokoto from "../components/Hitokoto.astro";
import GithubLink from "../components/GithubLink.astro";
import LightButton from "../components/LightButton.astro";
import IconLinks from "../components/IconLinks.astro";
import MusicPlayer from "../components/MusicPlayer.astro";

import data from "../data/data.yaml";
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>{data.name} 的主页</title>
    <link rel="icon" href="/icon.svg" />
  </head>

  <body>
    <div class="main-card">
      <aside id="head-image"></aside>
      <main>
        <GithubLink href="https://github.com/Expector-Hutch/Expector-s-personal-homepage" />

        <h1 id="title">{data.name}</h1>

        <p id="self-introduction" set:html={data.introduction} />

        <Hitokoto />

        <div id="friends">
          <p>友链</p>

          <friend-links-ctr>
            {
              data.friends.map(f => (
                <friend-link name={f.name} href={f.link} icon={f.icon}>
                  {f.brief}
                </friend-link>
              ))
            }
          </friend-links-ctr>
        </div>

        <div class="app-links">
          <LightButton color="#ff1f71" href={data.links.bilibili}>哔站</LightButton>
          <LightButton color="#2bd2ff" href={data.links.blog}>博客</LightButton>
          <LightButton color="#11ff45" href={data.links.email}>邮箱</LightButton>
        </div>

        <MusicPlayer uid={data.music} color="#66ccff" />

        <div class="more-links">
          <IconLinks href={data.links.github} icon="github" />
          <IconLinks href={data.links.gitee} icon="gitee" />
          <IconLinks href={data.links.zhihu} icon="zhihu" />
        </div>

        <footer>
          <p>
            &copy; 2022-2026&nbsp;
            <a href="https://expector.netlify.app/" target="_blank">Expector</a>
            <br />Text:&nbsp;
            <a
              href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
              title="Creative Commons License Details"
              target="_blank">CC BY-NC-ND</a
            >&nbsp;&mdash;&nbsp;Code:&nbsp;
            <a
              href="https://github.com/Expector-Hutch/Expector-s-personal-homepage/blob/main/LICENSE"
              >GPL v3.0</a
            >
          </p>
        </footer>
      </main>
    </div>
    <script>
      import "../components/friend_links_ctr";
    </script>
  </body>
</html>
